{% include 'bc.twig' with {
    history: [
        {text: "Камеры" }
    ]
} %}

<nav>
    <div class="nav nav-tabs" id="nav-tab">
        <a href="/cams/{{ camera_param ? camera_param~"/" : "" }}" class="text-decoration-none"><button class="nav-link{% if tab == 'low' %} active{% endif %}" type="button">Low-res</button></a>
        <a href="/cams/{{ camera_param ? camera_param~"/" : "" }}?high=1" class="text-decoration-none"><button class="nav-link{% if tab == 'high' %} active{% endif %}" type="button">High-res</button></a>
    </div>
</nav>

<div id="videos" class="camfeeds"></div>

{% js %}
if (isTouchDevice()) {
    addClass(ge('videos'), 'is_mobile');
}
Cameras.init({{ cams|json_encode|raw }}, {{ hls_opts|json_encode|raw }}, '{{ hls_proto }}', '{{ hls_host }}', {{ video_events ? 'true' : 'false' }});
{% endjs %}