{% include 'bc.twig' with {
    history: [
        {text: "Камеры" }
    ]
} %}

<div id="videos" class="camfeeds"></div>

{% js %}
if (isTouchDevice()) {
    addClass(ge('videos'), 'is_mobile');
}
Cameras.init({{ cams|json_encode|raw }}, {{ hls_opts|json_encode|raw }}, '{{ hls_proto }}', '{{ hls_host }}', {{ video_events ? 'true' : 'false' }});
{% endjs %}