<div class="container py-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Главная</li>
    </ol>
  </nav>

  {% if auth_user %}
    <div class="mb-4 alert alert-secondary">
      Вы авторизованы как <b>{{ auth_user.username }}</b>. <a href="/deauth/">Выйти</a>
    </div>
  {% endif %}

  <h6>Интернет</h6>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="/modem/">Модемы</a></li>
    <li class="list-group-item"><a href="/routing/">Маршрутизация</a></li>
    <li class="list-group-item"><a href="/sms/">SMS-сообщения</a></li>
  </ul>

  <h6 class="mt-4">Другое</h6>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="/inverter/">Инвертор</a> (<a href="{{ grafana_inverter_url }}">Grafana</a>)</li>
    <li class="list-group-item"><a href="/pump/">Насос</a></li>
    <li class="list-group-item"><a href="/sensors/">Датчики</a> (<a href="{{ grafana_sensors_url }}">Grafana</a>)</li>
  </ul>

  <h6 class="mt-4"><a href="/cams/"><b>Все камеры</b></a> (<a href="/cams/?high=1">HQ</a>)</h6>
  <ul class="list-group list-group-flush">
    {% for id, name in cameras %}
      <li class="list-group-item"><a href="/cams/{{ id }}/">{{ name }}</a> (<a href="/cams/{{ id }}/?high=1">HQ</a>)</li>
    {% endfor %}
  </ul>
</div>