{% include 'bc.twig' with {
  history: [
    {text: "SMS-сообщения" }
  ]
} %}

<nav>
  <div class="nav nav-tabs" id="nav-tab">
    {% for modem in modems_list %}
      {% if selected_modem != modem %}<a href="/modem/sms/?modem={{ modem }}" class="text-decoration-none">{% endif %}
      <button class="nav-link{% if modem == selected_modem %} active{% endif %}" type="button">{{ modems[modem].short_label }}</button>
      {% if selected_modem != modem %}</a>{% endif %}
    {% endfor %}
  </div>
</nav>

<h6 class="text-primary mt-4">Последние входящие</h6>

{% for m in messages %}
  <div class="mt-3">
    <b>{{ m.phone }}</b> <span class="text-secondary">({{ m.date }})</span><br/>
    {{ m.content }}
  </div>
{% else %}
  <span class="text-secondary">Сообщений нет.</span>
{% endfor %}